[global]
environment     = "embedded"
log.error_file  = "/tmp/Error.log"
log.access_file = "/tmp/Access.log"
tools.staticdir.debug = True

[/]
tools.staticdir.root  = "/home/schemelab/domains/biz/freegold/focus"

[/css]
tools.staticdir.on  = True
tools.staticdir.dir = "css"

[/img]
tools.staticdir.on  = True
tools.staticdir.dir = "img"

[/js]
tools.staticdir.on  = True
tools.staticdir.dir = "js"
