body {
	background:url(../images/topbg.png) top repeat-x #88bbbc;
	font-family:helvetica, arial, sans-serif;
	margin:0;
	padding:0;
	color:#4d4d4d;
}
h1 {
	font-size:40px;
	font-weight:bold;
	letter-spacing:-1px;
	padding:20px 0 0;
	color:#4d4d4d;
	margin:0;
}
#logo {
	background:url(../images/hdrbg.png) top center no-repeat;
	width:800px;
	margin:20px auto 0;
	padding:20px 0 20px;
}
#title {
	padding:10px 40px;
}
#container{
	margin:0 auto;
	width:800px;
	background-color:#fff;
	border-radius:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding:20px 0 0;
}
#leftdiv{
	width:350px;
	float:left;
	padding:0 0 40px 40px;
}
#rightdiv{
	width:400px;
	float:left;
	text-align:center;
	padding:20px 0 40px;
}
#rightdiv .textinput#name {
	background-color:#f0f1e7;
	width:265px;
	line-height:30px;
	letter-spacing:-1px;
	padding:10px;
	font-family:helvetica, arial, sans-serif;
	font-size:22px;
	background-color:#f0f1e7;
	border:1px #a2a2a2 solid;
	margin:0 0 10px 0;
	color:#4d4d4d;
}
#rightdiv .textinput#name:focus {
	background-color:#F7F7F2;
	color:#4d4d4d;
	border:1px #a2a2a2 solid;
}
#rightdiv .textinput#email {
	background-color:#f0f1e7;
	width:265px;
	line-height:30px;
	letter-spacing:-1px;
	padding:10px;
	font-family:helvetica, arial, sans-serif;
	font-size:22px;
	background-color:#f0f1e7;
	border:1px #a2a2a2 solid;
	margin:0 0 10px 0;
	color:#4d4d4d;
}
#rightdiv .textinput#email:focus {
	background-color:#F7F7F2;
	color:#4d4d4d;
	border:1px #a2a2a2 solid;
}
#namefield, #emailfield{
	margin:0 auto;
	text-align:left;
	font-family:helvetica, arial, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#4d4d4d;
	letter-spacing:-1px;
	width:280px;
}
#rightdiv input#submit:hover {
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}
.signature {
	font-family: 'Reenie Beanie', cursive;
	font-size:36px;
	margin:0;
	color:#4d4d4d;
}
#fullfooter{
	height:50px;
}
#footer{
	font-size:11px;
	line-height:15px;
	color:#616161;
	font-family:arial, helvetica, sans-serif;
	text-align:center;
	margin:20px auto 0 auto;
	width:650px;
}
#footer ul{
	list-style:none;
	padding:0;
}
#footer ul li{
	display:inline;
	padding:0 10px;
	border-left:1px #616161 solid;
}
#footer ul li.companycopy{
	border:none;
}
#footer ul li a{
	color:#616161;
	text-decoration:none;
}
#footer ul li a:hover{
	color:#000;
}

/* Download Page Styles */
#success {
	width:680px;
	margin:0 auto;
	background:url(../images/check.png) no-repeat 12px 50% #edfbd8;
	border:1px #deecca solid;
	border-radius:3px;
	color:#508600;
	padding:0 15px 0 40px;
	text-align:center;
}
#success p {
	font-size:14px;
	font-weight:bold;
	padding:0;
}
#downloads {
	height:400px;
	padding:40px;
}
#downloads p {
	padding:0;
	margin:0;
}
.product {
	height: 120px;
	border-bottom:1px solid #e6e6e6;
	margin-bottom:10px;
}
#leftdwnld {
	float:left;
	width:80px;
}
#middledwnld {
	float:left;
	padding:20px 0 0 30px;
}
#rightdwnld {
	float:right;
	padding:30px 0 0 30px;
}

.attn {
    color:#000;
    font-style: italic;
}

.prod_title {
	font-size:20px;
	font-weight:bold;
	letter-spacing:-1px;
}
.prod_desc {
	line-height:20px;
	width:400px;
}
.prod_size {
	font-size:13px;
	line-height:20px;
}

/* Buttons */
.download {
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
	color: #FFFFFF !important;
	cursor: pointer;
	display: inline-block;
	font: bold 12px/16px sans-serif;
	margin: 2px 0;
	padding: 7px 15px 7px;
	text-align: center;
	text-decoration: none !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	background: #71b02f; /*Fallback*/
	background: -moz-linear-gradient(center top , #71b02f 20%, #447e12 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #71b02f), color-stop(1, #447e12));
	border: 1px solid #467D16;
}
.download:hover {
	background: #7cbc3a; /*Fallback*/
	background: -moz-linear-gradient(center top , #7CBC3A 20%, #508E1B 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #7cbc3a), color-stop(1, #508e1b));
}