/* Video Squeeze Page Styles */

body {
	color:#333;
	background-color:#333;
}
h1 {
	color:#333;
	padding:0;
}
#content {
	background-color:#88bbbc;
}
#header {
	height:100px;
	background:url(../images/topbg2.png) top repeat-x #333;
}
#logo {
	background:url(../images/hdrbg2.png) top center no-repeat;
	margin:0 auto;
	padding:15px 15px 15px 50px;
	width:980px;
	height:70px;
}
#container {
	width:980px;
	background:none;
	border-radius:0;
	padding-top:40px;
}
#leftdiv{
	width:550px;
	padding-left:0;
}
#leftdiv p {
	padding:0 20px;
}
#leftdiv ul {
	margin:0;
	padding-left:30px;
	list-style-type:none;
}
#leftdiv ul li {
	line-height:20px;
	padding:0 0 10px 22px;
	background: url(../images/bullet.png) left 3px no-repeat;
}
#squ_headline h1 {
	font-size:44px;
	font-weight:bold;
	font-family: 'Oswald', sans-serif;
	letter-spacing:-2px;
	text-align:center;
}
#squ_headline h2 {
	font-size:22px;
	font-weight;bold;
	letter-spacing:-1px;
	text-align:center;
	margin:-5px 0 0;
	color:#5e5e5e;
}
#video {
	text-align:center;
	padding:10px;
	width:426px;
	height:240px;
	background-color:#fff;
	border:1px #5e5e5e solid;
	margin:10px auto 0;
}
#vidbox {
	width:426px;
	height:240px;
	margin:0 auto;
	background:url(../images/video.jpg) no-repeat top center;
}
#vidbutton {
	padding-top:90px;
}
.hoverfade:hover{
	opacity: 0.9; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
	filter: alpha(opacity=90); /* IE6-IE8 */
}
#social_media {
	padding:10px 0 10px;
	margin:0 auto;
	text-align:center;
}
#rightdiv{
	width:370px;
	padding:80px 0 0 50px;
}
#optin_text {
	text-align:left;
	padding:0 0 15px 0;
	margin:0 0 15px 0;
	background:url(../images/divider.png) no-repeat bottom left;
}
#optin_text h3{
	font-size:28px;
	font-weight:bold;
	font-family: 'Oswald', sans-serif;
	letter-spacing:-2px;
	padding:0;
	margin:0;
}
#optin_text h4 {
	font-size:18px;
	font-weight;bold;
	letter-spacing:-1px;
	margin:-5px 0 0;
	color:#5e5e5e;
}
#namefield, #emailfield{
	color:#333;
}
#rightdiv .textinput#name, #rightdiv .textinput#email {
	border:1px #5e5e5e solid;
}
#rightdiv .textinput#name:hover, #rightdiv .textinput#email:hover {
	border:1px #5e5e5e solid;
}
#rightdiv .textinput#name:focus, #rightdiv .textinput#email:focus {
	border:1px #5e5e5e solid;
}
#submit_button p{
	font-size:14px;
	color:#5e5e5e;
}
#quotebox {
	padding:30px 0 0;
	color:#ddd;
	font-family:georgia, arial;
	font-style:italic;
	font-size:20px;
	text-align:right;
	width:300px;
	margin:0 auto;
}
#quotebox p {
	padding:0;
	margin:0;
}
#fullfooter {
	background:url(../images/footbg.png) repeat-x top center #333;
}
#footer {
	padding:20px 0;
	color:#e3e5d1;
	width:980px;
	text-align:right;
}
#footer ul li a{
	color:#e3e5d1;
}
#footer ul li a:hover{
	color:#aeb47a;
}


















